<div class="header">
   <div class="header-primary">
      <img src="/images/225x225_transparent.png" class="logo logo-small"/>

      <form id="search" action="search" onsubmit="return validateForm()" method="post">
         <fieldset>
            <div class="query-wrapper">
                <div class="item item-query">
                    <input type="text" class="input input-query" id="form_query_string" name="query_string" placeholder="故意伤害罪"/>
                </div>
                <div class="item item-submit">
                   <button class="query-btn" name="submit" type="submit"/>
                   <span class="sp-icon-search"></span>
                </div>
            </div>
         </fieldset>
      </form>
   </div>
</div>
